@import "primereact/resources/themes/lara-dark-indigo/theme.css";  //theme
@import "primereact/resources/primereact.min.css";                  //core css
@import "primeicons/primeicons.css"; 

body{
    align-items: baseline;
    color: white;
    justify-content: center;
}